@import url("https://fonts.googleapis.com/css2?family=Orbitron&display=swap");

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #f7f7f7;
}

.container {
  background: #2c2c2c;
  border-radius: 0.5rem;
  width: 20rem !important;
  height: 30rem;
}

.screen {
  position: relative;
  background: #1e1e1e;
  min-height: 50px;
  margin: 1rem 0rem 1rem;
  border-radius: 0.25rem;
  width: 19rem;
  height: 4rem;
  font-family: "Orbitron", sans-serif;
  overflow-x: auto;
  -ms-overflow-style: none;
  scrollbar-width: none;
  color: #fff;
  padding: 1rem;
}

.keys button {
  width: 4rem;
  height: 3.5rem;
  border-radius: 5%;
  background-color: #605c5c;
  color: white;
  font-weight: bold;
  cursor: pointer;
  outline: none;
  border: none;
}

.keys button:hover {
  background-color: #555;
  scale: 1.1;
  color: rgb(197, 63, 83);
}

.keys .clear:hover {
  background-color: rgb(142, 42, 42);
  color: white;
}

.keys .equal:hover {
  background-color: rgb(51, 118, 51);
}

@media (min-width: 768px) {
  .container {
    width: 28rem !important;
    height: 42rem;
  }

  .screen {
    width: 26.5rem;
    height: 5.5rem;
  }

  .keys button {
    width: 5rem;
    height: 5rem;
    margin: 0.3rem;
  }

}
